<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular Movies</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Popular Movies</h1>
    <div class="movies">
        <ul>
            <% if (movies && movies.length) { %>
                <% movies.forEach(movie => { %>
                    <li>
                        <h3><%= movie.Title %> (<%= movie.Year %>)</h3>
                        <a href="/movies/<%= movie.title %>">Go</a>
                    </li>
                <% }) %>
            <% } else { %>
                <p>No movies available.</p>
            <% } %>
        </ul>
    </div> 
</body>
</html>
